<div class="content">
    @foreach (var author in Model)
    {
        <div class="author-info">
            <p>Name: @author.Name</p>
            <p>Surname: @author.Surname</p>
        </div>
    }
</div>
